section {
    width: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

div {
    border: 1px solid black;
    padding: 2rem;
    border-radius: 50px 0;
}

h2 {
    text-align: center;
    padding-bottom: 2rem;
}

p {
    padding-bottom: 1rem;
}

.bi {
    float: right;
    cursor: pointer;
}