<hr>
<section>
    <div class="footer">
        <h2>Quienes Somos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolorem placeat sequi consequuntur illum ratione, vitae, corporis beatae enim similique voluptate quod, accusamus rerum quis aspernatur eos in reprehenderit neque?</p>
    </div>

    <div class="footer">
        <h2>Hecho por: Jeff gutierrez</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolorem placeat sequi consequuntur illum ratione, vitae, corporis beatae enim similique voluptate quod, accusamus rerum quis aspernatur eos in reprehenderit neque?</p>
    </div>
    <div class="RRSS">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-tiktok"></i></a>
        <a href="#"><i class="bi bi-threads"></i></a>
    </div>
</section>
